{%
  set classes = [
    'ubc-card',
    'ubc-card--stacked',
  ]
%}
{% if content %}
<div{{ attributes.addClass(classes) }}>
  {% if content.image %}
  <div {{ region_attributes.image.addClass('ubc-card__image') }}>
    {{ content.image }}
  </div>
  {% endif %}
  {% if content.title %}
  <div {{ region_attributes.title.addClass('ubc-card__body') }}>
    {{ content.title }}
    {{ content.content }}
  </div>
  {% endif %}
  {% if content.link %}
  <div {{ region_attributes.link.addClass('ubc-card__footer') }}>
  {{ content.link }}
  </div>
  {% endif %}
</div>
{% endif %}
