{{ attach_library('ubc_layouts/ubc_accordion') }}
{%
  set classes = [
    'accordion',
    'accordion--closed',
  ]
%}
{% if content %}
<div{{ attributes.addClass(classes) }}>
  {% if content.title %}
  <div {{ region_attributes.title.addClass('accordion__tab', 'uppercase').setAttribute('tabindex', '0') }}>
    {{ content.title }}
  </div>
  {% endif %}
  {% if content.content %}
  <div {{ region_attributes.content.addClass('accordion__content', 'clearfix') }}>
  {{ content.content }}
  </div>
  {% endif %}
</div>
{% endif %}
